main{
    width: 100%;
    height: 77.5%;

    display: flex;
    justify-content: center;
}

.login-container{
    width: 95%;
    height: fit-content;
}

.login-container h1{
    margin: 2% 0;
    font-size: 3.2rem;
    font-weight: normal;
    text-decoration: underline;
}

.register-form form{
    width: 20%;
    height: 100%;
}

form .email,
form .password{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

form div label{
    font-size: 1.9rem;
}


.form-action{
    margin-top: 20px;
    width: fit-content;
    text-align: center;
}

.form-action button{
    padding: 10px 20%;
    border: none;
    background-color: yellow;
}
